<html>
    <header>
        {{>header}}
    </header>
    <body class="bg-dark" >
        <div class="container">
            <div class="card bg-info">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning">
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                    {{>admin/feedbackMsgs}}

                <div class="row">
                    <div class="col">
                        <div class="card-body  bg-info rounded" >
                            <div class="card-body bg-warning rounded-top align-content-center">
                                <div class="card-title text-center p-2">
                                    <h2 class="m-0 text-capitalize">Dance Class Management</h2>
                                </div>
                            </div>
                        </div>
                    {{#classDetails}}
                    
                    <div class="card-body mx-3 mb-2 bg-info rounded-bottom">                    
                        <div class="card-text p-3 rounded border border-dark bg-primary">
                            <div class="card-header  rounded-top  bg-warning ">                            
                                <div class="row rounded d-flex justify-content-between">                                
                                    <div class="col text-left">                
                                        <h4 class="fw-bold text-capitalize">{{class_title}}</h4>
                                    </div>
                                    <div class="col text-end">
                                        <h4>Cost: £{{cost}}</h4>
                                    </div>                                    
                                </div>               
                            </div>                    
                            <div class="row justify-content-between">
                                <div class="col">
                                    <div class="form-group p-2">
                                        <label class="fw-bold" for="location">Class Location:</label>
                                        <div class="form-text bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{location}}</label>
                                        </div>                                
                                    </div>
                                    <!-- end of location, col 2 -->
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group p-2">
                                        <label class="fw-bold" for="duration:">Class Duration:</label>
                                        <div class="form-text bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{duration}}</label>
                                        </div>                                
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="form-group">
                                        <label class="fw-bold" for="start_date:">Class Start Date:</label>
                                        <div class="form-text bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{start_date}}</label>
                                        </div>                                
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="form-group">
                                        <label class="fw-bold" for="start_time:">Class Start Time:</label>
                                        <div class="form-text bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{start_time}}</label>
                                        </div>                                
                                    </div>
                                </div>

                            </div>

                            <div class="row justify-content-between">
                            <!-- start of 1st column -->                    
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <div class="card-text">
                                            <p class="m-1"><u><strong>Class Description:</strong></u></p>
                                            <p class="border rounded bg-light p-1 m-1" style="white-space: pre-line; min-height: 100px; max-height: 100px; overflow-y: auto;">{{description}}</p>
                                        </div>
                                    </div>                    
                                </div><!-- end of column1 -->
                                <div class="col-3">
                                    <div class="card-body p-1 d-flex flex-column h-100">
                                        <div class="form-group">
                                        <label class="fw-bold" for="start_time:">Dancers Attending::</label>
                                        <div class="form-text text-end bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{totalCount}}</label>
                                        </div>                                
                                    </div>
                                        <div class="card-text p-1 mt-1">
                                            <a href="/auth/classParticipants/{{_id}}" id="removeBtn" type="submit" class="bg-dark border border-success rounded btn btn-primary w-100">view participants</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-3 ">
                                    <div class="card-body h-100 p-1 d-flex justify-content-end">
                                        <form class="mb-0" method="GET" action="/auth/editClass/{{_id}}">
                                    
                                                <div class="card-text d-flex flex-column h-100 justify-content-end p-1">                            
                                                    <div class="card-text text-end w-100">                                                                                                 
                                                        <button id="editBtn" type="submit" class="border border-success rounded btn btn-secondary text-white w-100 mb-1">Edit</button>                                
                                                        <a href="/auth/deleteClass/{{_id}}" id="removeBtn" type="submit" class="bg-danger btn btn-primary w-100">Delete</a>
                                                    </div>                
                                                </div>
                                    
                                        </form>
                                        
                                    </div>

                                </div>
                               
                            </div>
                             
                        </div>
                    </div>
                    {{/classDetails}}
                </div>
                
            </div>
        </div>        
        

        {{^classDetails}}
        <section class="container bg-info rounded ">                            
        <div class="card-body mb-2 bg-info rounded" >
            <div class="card-header rounded bg-warning ">                            
                
                                    
                    <h4 class="fw-bold text-capitalize">Sorry no classes available yet.</h4>
                    
                    <div class="card-body shadow bg-light rounded">
                        <p>There are no dance classes available...</p>
                    </div>
                                                   
            </div>
        </section>
        {{/classDetails}}

    </body>
</html>