<html>
    <header>
        {{>header}}
    </header>
    <body class="bg-dark" >
        <div class="container">
            <div class="card bg-info">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning"
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                    {{>admin/feedbackMsgs}}

                    <div class="row">
                        <div class="col">
                            <div class="card-body  bg-info rounded-top" >
                                <div class="card-body bg-warning rounded-top align-content-center">
                                    <div class="card-title text-center align-content-center">
                                        <h2 class="m-0 text-capitalize">Dance Course Management</h2>
                                    </div>                                      
                                </div>
                            </div>
                            {{#courseDetails}}
                            <div class="card-body mx-3 mb-2 bg-info ">
                                <div class="card-text p-3 bg-primary border border-dark rounded">                 
                                    <div class="row">
                                        <div class="col ">
                                            <div class="row">
                                                <div class="card-header  rounded-top  bg-warning ">                            
                                <div class="row rounded d-flex justify-content-between">                                
                                    <div class="col text-left">                
                                        <h4 class="fw-bold text-capitalize">{{course_title}}</h4>
                                    </div>
                                    <div class="col text-end">
                                        <h4>Cost: £{{cost}}</h4>
                                    </div>                                    
                                </div>               
                            </div>    
                                            </div>
                                        <div class="row">                        
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="fw-bold" for="location">Course Location:</label>
                                                    <div class="form-text bg-light m-0 rounded">
                                                        <label class="m-1 p-1">{{location}}</label>
                                                    </div>                               
                                                </div>                        
                                            </div>                            
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="fw-bold" for="courseStartDate">Course Start Date:</label>
                                                    <div class="form-text bg-light m-0 rounded">
                                                        <label class="m-1 p-1">{{start_date}}</label>
                                                    </div>                                
                                                </div>                        
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="fw-bold" for="courseDuration">Course Duration:</label>
                                                    <div class="form-text text-right bg-light m-0 rounded">
                                                        <label class="m-1 p-1">{{course_duration}} (weeks)</label>
                                                    </div>                                                        
                                                </div>                    
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="fw-bold" for="classStartTime">class Start Time:</label>
                                                </div>                                                
                                                <div class="form-text bg-light m-0 rounded">
                                                    <label class="m-1 p-1">{{class_start_time}}</label>
                                                </div>                                    
                                            </div>
                                        
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="fw-bold" for="classDuration">Class Duration:</label>
                                            </div>
                                            <div class="form-text text-right bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{class_duration}} (hrs/class)</label>
                                            </div>
                                        </div>
                                    </div> 
                                </div>

                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group ">
                                            <label class="fw-bold" for="description">Course Description</label>
                                            <textarea  type="text"
                                                class="bg-light form-control"
                                                id="description"
                                                name="description"                                                                                
                                                rows="4"
                                                readonly>{{description}}
                                            </textarea>
                                        </div>
                                    </div>

                        
                                    <div class="col-md-2">
                                        <div class="row d-flex justify-content-between">
                                            <div class="form-group ">
                                                <label class="fw-bold" for="cost">Participants Booked:</label>
                                            </div>
                                            <div class="form-text text-right bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{totalCount}}</label>
                                            </div>                                                               
                                        </div>                            
                                    </div>

                                    <div class="col-md-4 ">
                                            <div class="card-body h-100 p-1 d-flex justify-content-end">
                                                <form class="mb-0" method="GET" action="/auth/editCourse/{{_id}}">
                                        
                                                    <div class="card-text d-flex flex-column h-100 justify-content-end">                            
                                                        <div class="card-text text-end w-100">     
                                                            <div class="card-text mt-3 p-1">
                                                                <a href="/auth/courseParticipants/{{_id}}" id="removeBtn" type="submit" class="btn btn-dark border border-success rounded w-100 mb-1">view participants</a>                                                                                            
                                                                <button id="editBtn" type="submit" class="btn btn-secondary text-white border border-success rounded w-100 mb-1">Edit</button>                                
                                                                <a href="/auth/deleteCourse/{{_id}}" id="removeBtn" type="submit" class="mb-1 bg-danger btn btn-primary w-100">Delete</a>
                                                            </div>                
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                </div>                        
                            <div>
                        </div>                
                    </div>            
                </div>
            {{/courseDetails}}
    

        {{^courseDetails}}
        <section class="container bg-info rounded ">                            
            <div class="card-body mb-2 bg-info rounded" >
                    <h4 class="fw-bold text-capitalize">Sorry no classes available yet.</h4>                    
                <div class="card-body shadow bg-light rounded">
                    <p>dance courses will be available soon.</p>
                </div>                                       
            </div>
        </section>
        {{/courseDetails}}
                </div>
            </div>
       </div> 
    </body>
</html>