<section class="mx-3">  
    {{#success}}
        <div class="card-title ">
            <div class="card-text bg-dark rounded text-success">
            <p class="p-2">{{success}}</p>
            </div>
        </div>
    {{/success}}
    {{#fbMsg_success}}
        <div class="card-title bg-dark rounded text-success">
            <p class="p-2">{{fbMsg_success}}</p>
        </div>
    {{/fbMsg_success}}
    {{#fbMsg_fail}}
        <div class="card-title bg-dark rounded text-danger">
            <p class="p-2">{{fbMsg_fail}}</p>
        </div>
    {{/fbMsg_fail}}
    {{#success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/success_msg}}
    
        {{#error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/error_msg}}
</section>