<html>
    <head>
        {{>header}}
    </head>
    <body class="bg-dark">
        <div class="container">
            <div class="card bg-info">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning">
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                </div>
                <div class="card-body align-content-center">
                    <div class="card bg-info d-flex mt-2 justify-content-center">
                        <div class="card-body mx-3 my-2 p-2 bg-warning rounded-top align-content-center">
                        <div class="card-title text-center ">
                            <h2 class="m-0 text-capitalize">Dance Courses Available</h2>
                        </div>
                    </div>
                    {{>admin/feedbackMsgs}}
                    {{#courseDetails}}
                    <div class="card-body mt-2 mb-2 mx-3 rounded border border-dark  bg-primary">
                        <div class="row px-2">                        
                            <div class="card-header d-flex rounded-top  bg-warning">                            
                                <div class="col">
                                    <div class="card-text mb-0 rounded">
                                        <h4 class="m-0 text-capitalize">{{course_title}}</h4>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <h4 class="m-0">Cost: £{{cost}}</h4>
                                </div>
                            </div>
                        
                        <div class="row mx-0 mt-3">
                            <div class="col-md-6">
                                <div class="form-group mb-3 ">
                                    <label class="fw-bold">Location:</label>
                                    <div class="form-text bg-light rounded p-2">
                                        {{location}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="fw-bold">Course Duration:</label>
                                    <div class="form-text bg-light rounded p-2 text-center">
                                        {{course_duration}} Weeks
                                    </div>                                                              
                                </div>
                            </div>
                        </div>

                        <!-- Row 2: Start Date, Time, and Class Duration -->
                        <div class="row mx-0">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label class="fw-bold">Course Start Date:</label>
                                    <div class="form-text bg-light rounded p-2">
                                        {{start_date}}
                                    </div>                                
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label class="fw-bold">Class Start Time:</label>
                                    <div class="form-text bg-light rounded p-2 text-center">
                                        {{class_start_time}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label class="fw-bold">Class Duration:</label>
                                    <div class="form-text bg-light rounded p-2 text-center">
                                        {{class_duration}} hrs/class
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <!-- Row 3: Description and Booking -->
                        <div class="row mx-0">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Course Description</label>
                                    <textarea class="form-control" rows="4" readonly>{{description}}</textarea>
                                </div>                            
                            </div>
                            <div class="col-md-6">
                                <div class="row h-100">
                                    <div class="col-md-6 d-flex flex-column">
                                        <div class="form-group">
                                            <label class="fw-bold">Dancers Attending:</label>
                                            <div class="form-text bg-light rounded p-2 text-center">
                                                {{totalCount}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-end">
                                        <form action="auth/bookCourse/{{_id}}" method="POST">
                                            <button type="submit" class="btn btn-dark border border-success rounded w-100">Book Course</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {{/courseDetails}}
                </div>
            </div>
        </div>
    </body>
</html>