<html>
    <header>
        {{>header}}
    </header>
    <body class=" bg-dark" >
        <div class="container">
            <div class="card bg-info ">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning">
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                                       
                </div>
                <div class="card-body align-content-center">
                    <div class="card bg-info d-flex  mt-2 justify-content-center  ">
                    
                        <div class="card-body my-2 mx-3 p-2 rounded-top bg-warning align-content-center">
                            <div class="card-title  text-center">
                                <h2 class=" m-0">Available Dance Classes</h2>
                            </div>
                        </div>
                    {{>admin/feedbackMsgs}}
                    {{#classDetails}}
                        <div class="card-body mx-2 my-2 p-2  bg-primary  border border-dark rounded">                                     
                                <div class="row px-2">
                                    <div class="card-header d-flex rounded-top bg-warning ">                                                    
                                        <div class="col">
                                            <div class="card-text  mb-0 rounded">                   
                                                <h4 class="inline m-0 text-capitalize">{{class_title}}</h4>
                                            </div>
                                        </div>
                                        <div class="col text-end">                                
                                            <h4>Cost: £{{cost}}</h4>                                
                                        </div>
                                    </div>
                            
                                <div class="row p-2 ">                                                            
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold" for="location">Course Location:</label>
                                            <div class="form-text bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{location}}</label>
                                            </div>                                                                    
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold" for="courseStartDate">Start Date:</label>
                                            <div class="form-text bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{start_date}}</label>
                                            </div>                                
                                        </div>
                                    </div>

                                    <div class="col text-center">
                                        <div class="form-group">
                                            <label class="fw-bold" for="classDuration">Class Duration:</label>
                                            <div class="form-text bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{duration}} hrs/class</label>
                                            </div>                                    
                                        </div>
                                    </div>
                                
                                    <div class="col text-center">
                                        <div class="form-group">
                                            <label class="fw-bold" for="classStartTime">class Start Time:</label>
                                            <div class="form-text bg-light m-0 rounded">
                                            <label class="m-1 p-1">{{start_time}}</label>
                                        </div>
                                    </div>                                
                                </div>
                            </div>

                            <div class="row p-2">                                                   
                                <div class="col-md-6">                                                            
                                    <div class="form-group">
                                        <label class="fw-bold" for="description">Class Description</label>
                                        <textarea  type="text"
                                                class="form-control"
                                                id="description"
                                                name="description"                                                                                
                                                rows="4"
                                                readonly>{{description}}
                                        </textarea>
                                    </div>
                                </div>                                                                                       
                                
                                <div class="col-md-6">
                                    <div class="row h-100">                                        
                                        <div class="col-md-6">                                            
                                            <label class="fw-bold" for="cost">Dancers Attending:</label>
                                            <div class="form-text text-right bg-light m-0 rounded">
                                                <label class="m-1 p-1">{{totalCount}}</label>
                                            </div>                                                                                                                                                    
                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="form-group mt-auto mb-0 text-end">                                        
                                                <form action="auth/bookClass/{{_id}}" method="POST" class="mb-0">
                                                    <button type=submit class="btn btn-dark border border-success rounded text-end">Book Course</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                              
                            </div>                        
                        </div>                                                                                                             
                </div>
                {{/classDetails}} 
            
    
    
            
        </div>  
            </div>
        </div>        
    </div>
    </body>
</html>