<!-- guest navigation buttons -->

        <div class="card rounded mb-2 bg-dark mx-3">
            <div class="row">            
                <div class="card-body d-flex p-2 mx-2">
                    <div class="col">                
                        <div class="card-text d-flex ">
                            <a id="homeBtn" href="/" class="btn btn-primary">Home</a>
                            <a id="classesBtn" href="/show_all_classes" class="mx-2  btn btn-primary">Classes</a>
                            <a id="coursesBtn" href="/show_all_courses" class="  btn btn-primary">Courses</a>
                            <a id="coursesBtn" href="/aboutUs" class="mx-2 btn btn-primary">About us</a>
                        </div>
                    </div>
            {{#guest}}
                    <div class="col">
                        <div class="card-text text-end">
                            <a id="registerBtn" href="/register" class="btn btn-primary">Register</a>  
                            <a id="loginBtn" href="/login" class="btn btn-primary">Sign in</a>
                        </div>
                    </div>
                </div>
            </div><!-- end of row nav section -->
        </div><!-- end of card body -->
        {{/guest}}  

<!-- user navigation buttons -->

    
                    {{#user}}
                    <div class="col">
                        <div class="card-text text-end">                            
                            <a id="logoutBtn" href="/auth/logout" class="btn btn-primary">Sign out</a>
                        </div>
                    </div>
                </div>
            </div><!-- end of row nav section -->
        </div><!-- end of card body -->
{{/user}}
{{#admin}}
                    <div class="col">
                        <div class="card-text text-center">
                            <a id="adminCtrl" href="/auth/admin" class="btn btn-primary">Admin Dashboard</a>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card-text text-end">                            
                            <a id="logoutBtn" href="/auth/logout" class="btn btn-primary">Sign out</a>
                        </div>
                    </div>
                </div>
            </div><!-- end of row nav section -->
        </div><!-- end of card body -->
{{/admin}}


 