<html>
    <head>
        {{>header}}
    </head>
    <body class="bg-dark">
        <div class="container">
            <div class="card bg-info ">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning">
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                    {{>introIndexContent}}
                    {{>classNcourses}} 
                </div>
            </div>
        </div>
    </body>
</html>