<html>
    <head>
        {{>header}}
    </head>
    <body class=" bg-dark">
        <div class="container">
            <div class="card bg-info">
                <div class="card-body mx-3 mt-3 rounded-top bg-warning">
                    {{>websiteHeading}}
                    {{>buttonsIndex}}
                </div>

                <div class="card-body align-content-center">

                    <div class="card bg-info d-flex p-2 mt-2 justify-content-center  ">
                        <div class="card-body my-2 mx-3 rounded-top bg-warning align-content-center">
                            <div class="card-title  text-center">
                                <h2 class=" m-0">Login</h2>
                            </div>
                        </div>
                        <div class="card-text border border-dark rounded bg-primary p-2 w-50 mx-auto">
                    <form method="POST" for="login" action="/auth/login" class="mb-0">
                        <p class="text-danger">{{error_credentials}}</p>
                        <div class="form-group">                
                            <label class="fw-bold" for="username">User Name</label>
                            <input type="text"
                            class="bg-light form-control {{#errors.username}}is-invalid{{/errors.username}}"
                            id="username"
                            name="username"
                            value="{{formData.username}}"
                            placeholder="enter user name" required>

                            {{#errors.username}}
                                <div class="text-danger">{{errors.username.msg}}</div>
                            {{/errors.username}}
                        </div>

                        <div class="form-group">
                            <label class="fw-bold" for="password">Password</label>
                            <input type="password"
                            class="bg-light form-control {{#errors.pass}}is-invalid{{/errors.pass}}"
                            id="pass"
                            name="pass"
                            placeholder="enter password"
                            minlength="8" required>

                            {{#errors.pass}}
                                <div class="text-danger">{{errors.pass.msg}}</div>
                            {{/errors.pass}}
                        </div>

                        <div class="form-group d-flex justify-content-end">
                            <input type="submit" value="Login" class="mt-2 border border-success rounded btn btn-dark">
                        </div>
                
                    </form>        
                </div>
            </div>
        </div>
        

        
            

        
            

                
        </div>
        </div>
        

        </div>
        </section>
        

        
    </body>
</html>