
<div class="card-header rounded-top bg-info">
    <!-- start of header row -->                            
    <div class="row">
        <div class="card-title d-flex justify-content-around w-100">
        
            <div class="col">
                <div class="card-text bg-warning rounded-top text-center mt-auto">                
                    <h3 class=" mb-0 fw-bold text-capitalize">{{course_title}}</h3>
                </div>
            </div>
    
        </div>
    </div><!-- end header row -->