<!-- class details section -->                
                {{#courseDetails}}
                
                    {{>instructor/courseParticipationHeader}}
                    {{>instructor/stats}}
                    
        <div class="card-body bg-primary  mx-3 rounded bg-info">
                <div class="row bg-primary">
                    <div class="col"> 

                    
                    <div class="row">
                        <div class="card-text rounded d-flex ">
                            <div class="col-md-8">
                                <div class="card-text p-1">
                                    <p class="mb-0 fw-bold">Course Location:</p>                                
                                    <div class="bg-light font-weight-normal rounded p-1"> {{location}} Weeks</div>
                                </div>     
                            </div>
                            <div class="col-md-4">
                                <div class="card-text p-1">
                                    <p class="mb-0 fw-bold">Course Duration:</p>                                
                                    <div class="bg-light font-weight-normal rounded p-1 text-Center"> {{course_duration}} Weeks</div>
                                </div>
                            </div>
                        </div>
                                            
                            <div class="row d-flex ">
                            <div class="card-text w-100 d-flex justify-content-between">
                                <div class="col mx-1">
                                <div class="card-text p-1">
                                    <p class="mb-0 fw-bold">Start Date:</p>
                                </div>
                                <div class=" border border-dark bg-light rounded">
                                    <div class="fw-normal p-1 text-capitalize"> {{start_date}}</div>
                                </div>
                            </div>
                            <div class="col mx-1">
                                <div class="card-text p-1">
                                    <p class="mb-0 fw-bold">Class Start Time:</p>
                                </div>
                                <div class="border border-dark text-center bg-light rounded">
                                    <div class="fw-normal p-1 text-Center"> {{class_start_time}} </div>
                                </div>
                            </div>
                            <div class="col mx-1">
                                <div class="card-text mx-1 p-1">
                                    <p class="mb-0 fw-bold">Class Duration:</p>
                                </div>
                                <div class="border border-dark text-center bg-light rounded">
                                    <div class="fw-normal p-1 text-Center"> {{class_duration}} hrs/class</div>
                                </div>
                            </div>
                            
                        
                    

                            {{/courseDetails}}
                    
                </div><!-- end of row -->

                
            
    
                    
                        
                     