
<div class="card-header mx-3 rounded-top bg-primary">
                             
    <div class="row">
        <div class="card-title  d-flex justify-content-around w-100">
        
            <div class="col">
                <div class="card-text p-2 bg-warning rounded text-center mt-auto">                
                    <h3 class=" mb-0 fw-bold text-capitalize">{{class_title}}</h3>
                </div>
            </div>
    
        </div>
    </div><!-- end header row -->
    
